#visualised {
  background-color: RGBA(255,101,80,0.62);
  width: 0.5px;
  height: 0.5px;
  position: relative;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
#visualised-container {
  width: 100%;
  height: 1000px;
  border: 1px solid black
}

#stars-svg-object {
  border: 1px solid black
}